- name: Create 'application' group
  group:
    name: application
    state: present

- name: Create application directory
  file:
    path: /opt/opencrvs
    state: directory
    owner: root
    group: application
    # Owner and group have rwx, others have read permission
    mode: '0775'

- name: Find all files in /opt/opencrvs
  ansible.builtin.find:
    paths: /opt/opencrvs
    recurse: yes
    file_type: file
  register: files_found

- name: Set ownership and permissions for files
  ansible.builtin.file:
    path: /opt/opencrvs
    owner: root
    group: application
    mode: '0775'
    recurse: yes

- name: Add current user to 'application' group
  user:
    name: '{{ ansible_user }}'
    groups: application
    append: yes

- name: Create deploy logfile
  ansible.builtin.file:
    path: /var/log/setup-deploy-config.log
    owner: '{{ ansible_user }}'
    group: 'application'
    state: touch
    mode: 'u+rwX,g+rwX,o-rwx'

- name: Create secret logfile
  ansible.builtin.file:
    path: /var/log/rotate-secrets.log
    owner: '{{ ansible_user }}'
    group: 'application'
    state: touch
    mode: 'u+rwX,g+rwX,o-rwx'

- name: Create backup logfile
  ansible.builtin.file:
    path: /var/log/opencrvs-backup.log
    owner: '{{ ansible_user }}'
    group: 'application'
    state: touch
    mode: 'u+rwX,g+rwX,o-rwx'

- name: Create restore logfile
  ansible.builtin.file:
    path: /var/log/opencrvs-restore.log
    owner: '{{ ansible_user }}'
    group: 'application'
    state: touch
    mode: 'u+rwX,g+rwX,o-rwx'

- name: Create reboot logfile
  ansible.builtin.file:
    path: /var/log/cryptfs-reboot.log
    owner: '{{ ansible_user }}'
    group: 'application'
    state: touch
    mode: 'u+rwX,g+rwX,o-rwx'

- name: Create papertrail logfile
  ansible.builtin.file:
    path: /var/log/papertrail.log
    owner: '{{ ansible_user }}'
    group: 'application'
    state: touch
    mode: 'u+rwX,g+rwX,o-rwx'
