- name: Ensure 'cryptsetup' utility is installed
  ansible.builtin.package:
    name: cryptsetup
    state: present
  when: disk_encryption_key is defined

- name: 'Register encrypted file system'
  stat:
    path: /cryptfs_file_sparse.img
    get_checksum: False
  register: encryptedFileSystemPostCheck
  when: disk_encryption_key is defined

- name: Check if Disk encryption key file exists
  ansible.builtin.stat:
    path: /root/disk-encryption-key.txt
  register: encryption_keyfile_stat
  when: disk_encryption_key is defined

- name: Read existing Disk encryption key
  ansible.builtin.slurp:
    src: /root/disk-encryption-key.txt
  register: existing_disk_encryption_key
  when:
    - disk_encryption_key is defined
    - encryption_keyfile_stat.stat.exists

- name: Fail if key exists and differs
  ansible.builtin.fail:
    msg: "Disk encryption key on disk does not match ansible variable! GitHub secret ENCRYPTION_KEY was updated!"
  when:
    - encryption_keyfile_stat.stat.exists
    - existing_disk_encryption_key['content'] | b64decode != ("DISK_ENCRYPTION_KEY=" ~ disk_encryption_key ~ "\n")

- name: Save disk encryption key into a file
  when: disk_encryption_key is defined
  ansible.builtin.copy:
    dest: /root/disk-encryption-key.txt
    group: 1000
    owner: 1000
    mode: g+rwx
    content: |
      DISK_ENCRYPTION_KEY={{ disk_encryption_key }}

- name: Ensure destination directory exists
  ansible.builtin.file:
    path: /opt/opencrvs/scripts/cryptfs
    state: directory
    mode: '0755'
    owner: root
    group: root
    recurse: yes

- name: Install k8s-help script
  copy:
    src: ../cryptfs/decrypt.sh
    dest: "/opt/opencrvs/scripts/cryptfs/decrypt.sh"
    owner: "{{ ansible_user }}"
    group: 'application'
    mode: '0755'

- name: Copy reboot.service systemd file. Must decrypt disk on reboot
  ansible.builtin.copy:
    dest: /etc/systemd/system/reboot.service
    group: 1000
    owner: 1000
    mode: g+rwx
    content: |
      [Unit]
      Description=Mount encrypted dir

      [Service]
      ExecStart=bash /opt/opencrvs/infrastructure/cryptfs/decrypt.sh -key /root/disk-encryption-key.txt >> /var/log/cryptfs-reboot.log 2>&1

      [Install]
      WantedBy=multi-user.target
  when:
   - disk_encryption_key is defined
   - encryptedFileSystemPostCheck.stat.exists

- name: 'Setup systemd to mount encrypted folder'
  shell: systemctl daemon-reload && systemctl enable reboot.service
  when:
    - disk_encryption_key is defined
    - encryptedFileSystemPostCheck.stat.exists
