- name: Update and upgrade system packages
  apt:
    update_cache: yes
    upgrade: dist
    autoremove: yes
  register: upgrade_result
  retries: 5
  delay: 10

- name: Install unattended-upgrades
  apt:
    name: unattended-upgrades
    state: present

- name: Autoclean apt cache
  apt:
    autoclean: yes

- name: Configure Unattended Upgrades
  ansible.builtin.copy:
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    content: |
      Unattended-Upgrade::Package-Blacklist {};
      Unattended-Upgrade::DevRelease "auto";
      Unattended-Upgrade::Remove-Unused-Kernel-Packages "true";
      Unattended-Upgrade::Remove-New-Unused-Dependencies "true";
      Unattended-Upgrade::Remove-Unused-Dependencies "true";
      Unattended-Upgrade::Allowed-Origins {
          "${distro_id}:${distro_codename}-security";
      };
    owner: root
    group: root
    mode: '0644'
