name: Deploy (production)
run-name: 'Deploy to ${{ inputs.environment }} with (core: ${{ inputs.core-image-tag }}, country config: ${{ inputs.countryconfig-image-tag }}, reset: ${{ inputs.reset }})'
on:
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment to deploy to
        required: true
        default: 'staging'
        options:
          - production
          - staging
      core-image-tag:
        description: Core DockerHub image tag
        required: true
        default: 'v1.8.0'
      countryconfig-image-tag:
        description: Your Country Config DockerHub image tag
        default: 'latest'
        required: false

jobs:
  deploy:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    steps:
      - uses: trstringer/manual-approval@v1
        with:
          secret: ${{ github.TOKEN }}
          approvers: rochel07,solomcfly
          minimum-approvals: 1
          issue-title: 'Deploy (${{ github.event.inputs.environment }}): core: ${{ github.event.inputs.core-image-tag }} country config: ${{ github.event.inputs.countryconfig-image-tag }}'
          issue-body: 'Please approve or deny the deployment of core: ${{ github.event.inputs.core-image-tag }} country config: ${{ github.event.inputs.countryconfig-image-tag }} to ${{ github.event.inputs.environment }}'
          exclude-workflow-initiator-as-approver: false
      - name: Set ENV_VAR dynamically
        run: echo "ENV_VAR=ENV_${{ github.event.inputs.environment }}" >> $GITHUB_ENV

      - name: Create .env file
        run: |
          echo "${{ vars[env.ENV_VAR] }}" | sed 's/[[:space:]]*$//' | awk -F= '{print $1 "=\"" $2 "\""}' > .env.${{ github.event.inputs.environment }}

      - name: Load environment variables
        run: |
          set -a
          source .env.${{ github.event.inputs.environment }}
          set +a

      - name: Charger les variables autrement
        run: |
          while IFS= read -r line; do
            if [[ ! -z "$line" && "$line" != \#* ]]; then
              line=$(echo "$line" | sed -E 's/^([^=]+)="(.*)"$/\1=\2/')
              export "$line"
              echo "$line" >> $GITHUB_ENV
            fi
          done < .env.${{ github.event.inputs.environment }}

      - name: Clone core
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: 'digital-gov-mg/opencrvs-core'
          path: './opencrvs-core'
      - name: Clone country config resource package
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          path: './${{ github.event.repository.name }}'

      - name: Checkout country branch ${{ inputs.countryconfig-image-tag }}
        if: ${{ inputs.countryconfig-image-tag != 'latest' && inputs.countryconfig-image-tag != '' }}
        working-directory: ${{ github.event.repository.name }}
        run: git checkout ${{ inputs.countryconfig-image-tag }}

      - name: Checkout core branch ${{ inputs.core-image-tag }}
        working-directory: opencrvs-core
        run: git checkout ${{ inputs.core-image-tag }}

      - name: Resolve image tags
        working-directory: ${{ github.event.repository.name }}
        run: |
          if [ '${{ inputs.countryconfig-image-tag }}' == 'latest' ] || [ '${{ inputs.countryconfig-image-tag }}' == '' ]
          then
            image_tag=`git rev-parse --short=7 HEAD`
            message="⚠️ You haven't provided country config image tag, using latest git hash as image tag."
            message="$message Please make sure image with tag was built and pushed to your registry"
          else
            image_tag=${{ inputs.countryconfig-image-tag }}
          fi

          message="Core image tag: ${{ inputs.core-image-tag }} \n\nCountry config image tag: $image_tag \n\n $message"
          echo -e $message | tee -a $GITHUB_STEP_SUMMARY
          echo "image_tag=$image_tag" >> $GITHUB_ENV

      - name: Read known hosts
        working-directory: ${{ github.event.repository.name }}
        run: |
          echo "KNOWN_HOSTS<<EOF" >> $GITHUB_ENV
          sed -i -e '$a\' ./infrastructure/known-hosts
          cat ./infrastructure/known-hosts >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Install SSH Key for Prod
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_KEY_PROD }}
          known_hosts: ${{ env.KNOWN_HOSTS }}
        if: ${{ github.event.inputs.environment == 'production' }}

      - name: Unset KNOWN_HOSTS variable
        run: |
          echo "KNOWN_HOSTS=" >> $GITHUB_ENV

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Wait for images to be available
        run: |
          while true; do
            if docker manifest inspect siecm/opencrvs/ocrvs-auth:${{ inputs.core-image-tag }}; then
              break
            fi
            sleep 10
          done
          while true; do
            if docker manifest inspect ${{ secrets.DOCKERHUB_ACCOUNT }}/${{ secrets.DOCKERHUB_REPO }}:${{ env.image_tag }}; then
              break
            fi
            sleep 10
          done

      - name: Export all secrets and environment variables
        working-directory: ${{ github.event.repository.name }}
        run: |
          SECRETS_JSON_WITH_NEWLINES=$(cat<<EOF
            ${{ toJSON(secrets) }}
          EOF)

          #
          # Secrets & variables with newlines are filtered out automatically
          # This includes SSH_KEY and KNOWN_HOSTS
          #
          while IFS= read -r secret; do
            echo "$secret" >> .env.${{ inputs.environment }}
          done < <(
            jq -r '
              to_entries |
              map(
                select(.value | test("\n") | not) |
                "\(.key)=\"\(.value)\""
              ) |
              .[]' <<< "$SECRETS_JSON_WITH_NEWLINES"
          )

          VARS_JSON_WITH_NEWLINES=$(cat<<EOF
            ${{ toJSON(vars) }}
          EOF)

          while IFS= read -r var; do
            echo "$var" >> .env.${{ inputs.environment }}
          done < <(
            jq -r '
              to_entries |
              map(
                select(.value | test("\n") | not) |
                "\(.key)=\"\(.value)\""
              ) |
              .[]' <<< "$VARS_JSON_WITH_NEWLINES"
          )

      - name: Use Node.js from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: ${{ github.event.repository.name }}/.nvmrc

      - name: Deploy to ${{ inputs.environment }}
        id: deploy
        working-directory: ${{ github.event.repository.name }}
        run: |
          export DOCKER_USERNAME="${{ secrets.DOCKER_USERNAME }}"
          export DOCKER_TOKEN="${{ secrets.DOCKER_TOKEN }}"
          cd ./${{ github.event.repository.name }}
          yarn deploy \
          --clear_data=no \
          --environment=${{ inputs.environment }} \
          --host=${{ vars.DOMAIN }} \
          --ssh_host=${{ vars.SSH_HOST || secrets.SSH_HOST }} \
          --ssh_port=${{ vars.SSH_PORT || secrets.SSH_PORT }} \
          --ssh_user=${{ secrets.SSH_USER }} \
          --version=${{ inputs.core-image-tag }} \
          --country_config_version=${{ env.image_tag }} \
          --replicas=${{ vars.REPLICAS }}
