name: Reindex search
run-name: Reindex search in ${{ inputs.environment }} core=${{ inputs.core-image-tag }}
on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      core-image-tag:
        required: true
        type: string
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment where to reindex search
        required: true
        default: 'development'
        options:
          - development
          - qa
          - staging
          - production
      core-image-tag:
        description: Core DockerHub image tag
        required: true
jobs:
  reindex:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-24.04
    timeout-minutes: 60

    steps:
      - name: Pull the seed-data image
        run: docker pull ghcr.io/opencrvs/ocrvs-data-seeder:${{ inputs.core-image-tag }}

      - name: Run docker container
        run: |
            docker run \
            -e "AUTH_HOST=${{ vars.AUTH_HOST }}" \
            -e "EVENTS_URL=${{ vars.GATEWAY_HOST }}"
            ghcr.io/opencrvs/ocrvs-data-seeder:${{ inputs.core-image-tag }} \
            yarn reindex-search
